<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <header style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #f4f4f4;">
        <!-- Logo -->
        <div style="font-weight: bold; font-size: 1.5rem;">
            COOLWEBSITE
        </div>
        
        <!-- User Info -->
        <div>
            <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}" style="margin-right: 10px;"></span>
            <a href="/manage" sec:authorize="hasRole('ADMIN')" style="text-decoration: none; margin-right: 10px;">Manage</a>
            <a href="/logout" style="text-decoration: none;">Logout</a>
        </div>
    </header>
</html>
